*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #fa7528;
}
.btn-contato button{
    padding: 10px 40px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    background-color: #fa7528;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;

}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #ff8e32;
    transform: scale(1.05);
    transition: 0.3s;
}


.flex{
    display: flex;
}
body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}
/* --- Estilo Header --- */  
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #8d8d8d;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

header a:hover{
    color: #fa7528;
    transform: scale(1.05);
    transition: 0.3s;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0px 40px;
}
.logo1 {
    width: 90px;

}


/* --- Estilo Conteudo Principal --- */
section.principal {
    padding: 42px 4%;
}

section.principal .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    
}
.principal h1{
    color: #fff;
    font-size: 40px;
    line-height: 50px; 
}

.principal .texto-principal h1 span{
    color: #fa7528;
}

.principal .texto-principal p{
    color: #fff;
    margin: 40px 0px;
}
.foto{
    width: 350px;
    border-radius: 20%;
    box-shadow: 0px 0px 10px #cd7531;
}
.principal .foto-principal img{
    position: relative;
    animation: flutuar 1.7s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0%{
        right: 0px;

    }
    100%{
        right: 30px;
    }
    
}
section.agenda{
    padding: 42px 4%;
}
section.agenda .flex{
    gap: 40px;
}

.agenda .show-box a{
    color: #fff;
    text-decoration: none;
}
.agenda .show-box{
    margin: 40px 4%;
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
    
}
.agenda .show-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff;
}
.agenda .show-box i{
    font-size: 60px;
    color: #fa7528;

}
.agenda .show-box h3{
    font-size: 26px;
    margin: 15px 0;

}
.agenda .show-box .data{
    font-size: 30px;
    color: #fa7528;
    font-weight: 700;
    margin: 20px;

}
.agenda .show-box .desc{
    font-size: 20px;
    color: #fff;
    line-height: 50px;

}